# python compiled
*.pyc

#folders
__pycache__/
*/__pycache__/

# ignore all but .py files
datasets/*
!datasets/*.py

# outputs
*.o*
*.e*

# run scripts
*.sbatch

# pycharm files
.idea/

# coverage and pytest
.coverage
.pytest_cache

# dataset files
*.pickle