*/__pycache__/
*.pickle
*.zip
*tar.gz
*.csv

#tex
*.aux
*.bbl
*.blg
*.log
*.nav
*.out
*.run.xml
*.snm
*.synctex.gz
*.toc
*.pdf

#specific

datasets/notmnist/notMNIST_large/
datasets/notmnist/notMNIST_small/